/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #15aabf;
  --ifm-color-primary-dark: #1098ad;
  --ifm-color-primary-darker: #0c8599;
  --ifm-color-primary-darkest: #0b7285;
  --ifm-color-primary-light: #22b8cf;
  --ifm-color-primary-lighter: #3bc9db;
  --ifm-color-primary-lightest: #66d9e8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #228be6;
  --ifm-color-primary-dark: #1c7ed6;
  --ifm-color-primary-darker: #1971c2;
  --ifm-color-primary-darkest: #1864ab;
  --ifm-color-primary-light: #339af0;
  --ifm-color-primary-lighter: #4dabf7;
  --ifm-color-primary-lightest: #74c0fc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer--dark {
  background-color: #162c41;
}
